.sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sobre img {
  width: 120px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .sobre {
    flex-direction: column;
    text-align: center;
  }
}